body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_panel {
  display: flex;
  height: 100vh;
  gap: 10px;
  overflow: hidden;
}

.left_panel {
  width: 23%;
  background-color: #f4f4f4;
  border-right: 2px solid #ccc;
  overflow: auto;
}

.right_panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.top_panel {
  display: flex;
  height: 30%;
  background-color: #ddd;
  border-bottom: 2px solid #ccc;
  overflow: hidden;
}

.bottom_panel {
  flex: 1;
  background-color: #eee;
  height: 100%;
  overflow: auto;
}

.treeContent {
  height: 100%;
}

.set {
  margin: 3rem 0rem 3rem 3rem;
}

.set_tags {
  margin: 1rem 0rem 1rem 0rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.tags {
  background-color: #ddd;
  margin-right: 1rem;
  padding: 5px;
  cursor: pointer;
}

.production_tags {
  background-color: #ddd;
  margin: 1rem 0rem 1rem 0rem;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.title_set {
  margin-left: 3rem;
}

.derivationTree {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: fit-content;
  height: 15%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin-top: 1rem;
}

.derivation-step {
  display: flex;
  align-items: center;
  margin: 1rem;
  font-size: 2rem;
}

.arrow {
  font-weight: bold;
  font-size: 1.5rem;
}

.production {
  color: #555;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.save_changes{
  font-size: 1.3rem;
  cursor: pointer;
}



.tree-container {
  width: 100%;
  height: 100vh;
}

.node-axiomatic {
  fill: #ff5733; /* Naranja llamativo */
  stroke: #b22;
  stroke-width: 3px;
  font-weight: bold;
}

.node-terminal {
  fill: #33aaff; /* Azul */
  stroke: #2266aa;
  stroke-width: 2px;
  font-style: italic;
}

.node-nonterminal {
  fill: #4caf50; /* Verde */
  stroke: #2d7a2f;
  stroke-width: 2px;
}

.link {
  stroke: #888;
  stroke-width: 2px;
}
